tournament_go.sql
BOT/current.html
BOT/difference.html
BOT/old.html
BOT/__pycache__
.idea
.vscode
venv
.dockerignore
backup.py
test1.py
test2.py
test3.py
Vagrantfile
.vagrant
renew.yml
secret.json
2021-11-09-17-49-35.095-VBoxHeadless-219340.log
2021-11-09-17-49-35.070-VBoxSVC-195216.log
2021-11-11-15-27-51.048-VBoxSVC-183800.log
2021-11-11-15-27-51.081-VBoxHeadless-187893.log
2021-11-12-14-24-55.082-VBoxSVC-145905.log
2021-11-12-14-24-56.007-VBoxHeadless-146842.log
50-server.cnf
my.cnf
/tasks/main.yml
hide
APP/__pycache__
APP/config/__pycache__
APP/html
APP/logs/__pycache__
APP/objects/__pycache__
APP/queries_to_tables/__pycache__
APP/stages/__pycache__
ansible/tasks